<!doctype html>
<html lang=ko>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- css -->
  <link rel="stylesheet" href="../../resources/css/main.css">
  <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">

  <!-- lib -->
  <script src="../../resources/lib/jquery-1.11.3.min.js"></script>
  <script src="../../resources/lib/swiper/swiper.js"></script>

  <!-- js -->
  <script src="../../resources/js/main.js"></script>

  <title>안내지도</title>
</head>
<body>
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>
<!-- 헤더 -->
<header>
  <!-- [사이드바] dim 처리 영역 -->
  <div id="dim-overlay" class="dim" onclick="closeSideBar();"></div>
  <div class="inner-wrap">
    <!-- 로고 -->
    <h1>
      <a href="#">
        <img src="../../resources/images/header/logo.svg" alt="서울의 공원">
      </a>
    </h1>
    <!-- gnb -->
    <nav>
      <!-- pc -->
      <ul class="pc-nav pc-flex-only">
        <li>
          <button type="button"><span>서울숲</span></button>
          <ul>
            <li><a href="#">공원소개</a></li>
            <li><a href="#">이용시간</a></li>
            <li><a href="#">주차안내</a></li>
            <li><a href="#">둘러보기</a></li>
            <li><a href="#">사용안내</a></li>
            <li><a href="#">촬영안내</a></li>
            <li><a href="#" class="link">공원탐방</a></li>
          </ul>
        </li>
        <li>
          <button type="button"><span>공원소식</span></button>
          <ul>
            <li><a href="#">프로그램</a></li>
            <li><a href="#">새소식</a></li>
            <li><a href="#">고시·공고</a></li>
          </ul>
        </li>
        <li>
          <button type="button"><span>안내지도</span></button>
          <ul>
            <li><a href="#" class="link">안내지도</a></li>
          </ul>
        </li>
        <li>
          <button type="button"><span>자료실</span></button>
          <ul>
            <li><a href="#">동영상</a></li>
          </ul>
        </li>
        <li>
          <button type="button"><span>고객센터</span></button>
          <ul>
            <li><a href="#">문의전화</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </li>
      </ul>

      <!-- mobile -->
      <div class="sidebar tablet-mo-only">
        <div class="sidebar-top">
          <!-- 언어 설정 -->
          <h2><img src="../../resources/images/header/logo.svg" alt="서울의 공원"/></h2>
          <!-- 닫기 버튼 -->
          <button type="button" class="ico-btn ico-close" onclick="closeSideBar()"><span class="visually-hidden">닫기</span></button>
        </div>
        <ul class="accordion-nav-list">
          <li class="active">
            <button type="button" class="active">서울숲</button>
            <ul>
              <li class="active"><a href="#">공원소개</a></li>
              <li><a href="#">이용시간</a></li>
              <li><a href="#">주차안내</a></li>
              <li><a href="#">둘러보기</a></li>
              <li><a href="#">사용안내</a></li>
              <li><a href="#">촬영안내</a></li>
              <li><a href="#">공원탐방</a></li>
            </ul>
          </li>
          <li>
            <button type="button">공원소식</button>
            <ul>
              <li><a href="#">프로그램</a></li>
              <li><a href="#">새소식</a></li>
              <li><a href="#">고시·공고</a></li>
            </ul>
          </li>
          <li>
            <button type="button">안내지도</button>
            <ul>
              <li><a href="#">안내지도</a></li>
            </ul>
          </li>
          <li class="long">
            <button type="button">자료실</button>
            <ul>
              <li><a href="#">동영상</a></li>
            </ul>
          </li>
          <li class="long">
            <button type="button">고객센터</button>
            <ul>
              <li><a href="#">문의전화</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- hamburger (mobile) -->
    <button type="button" class="ico-btn ico-hamburger tablet-mo-flex-only" onclick="openSideBar()"><span class="visually-hidden">메뉴 열기</span></button>
  </div>
</header>

<!-- 메인 -->
<main id="main">
  <!-- 서브 페이지 텍스트 -->
  <div class="sub-title-wrap">
    <div class="sub-title">
      <h2>안내지도</h2>
      <div class="breadcrumb">
        <span class="home"><span class="visually-hidden">경로</span></span>
        <ul>
          <li>안내지도</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- 서브 페이지 -->
  <div class="sub-inner-wrap">
    <section class="sub-sec">
      <div class="sub-sec-tit-wrap">
        <h3>촬영안내</h3>
      </div>
      <div class="c-box">
        <!-- a. 컨텐츠 제목 -->
        <div class="content-tit-wrap">
          <h4>촬영 신청 절차</h4>
        </div>
        <div class="gray-box">
          <ul class="circle-num-list">
            <li class="circle-num">
              <span>1</span>
              <p>
                담당자에게 이메일(337james@seoul.go.kr)로 신청서 제출<br/>
                (문의사항: 02-460-2975 평일 9시~17시. 전화연결이 어려울경우, 이메일문의주시면 회신드립니다.<br class="mo-only"/> 동부공원여가센터 서울숲관리사무소)
              </p>
            </li>
            <li class="circle-num">
              <span>2</span>
              <p>
                신청서 검토 후 이용 승낙 메일 회신 받기
              </p>
            </li>
            <li class="circle-num">
              <span>3</span>
              <p>
                회신 후 공공서비스예약 홈페이지 결제(열려있는 날짜에서 시간만큼만 결제, 기준 및 이용요금: 1시간14,300원, 추가시간당7,150원 (신용카드 결제만 가능, 부가세포함 가격))
              </p>
            </li>
          </ul>
          <ul class="list">
            <li class="c-point">※ 반드시 이용승낙 메일 회신을 받으신 다음, 공공서비스예약시스템에서 이용료 결제</li>
            <li class="c-point">※ 촬영 가능 신청서 미제출 및 사전 협의 없이 촬영비만 납부한 경우, 촬영허가를 받지 않은 것으로 간주하여 촬영이 불가능합니다.</li>
          </ul>
        </div>
      </div>
      <div class="c-box">
        <!-- a. 컨텐츠 제목 -->
        <div class="content-tit-wrap">
          <h4>촬영시 유의사항</h4>
        </div>
        <div class="gray-box">
          <ul class="circle-num-list">
            <li class="circle-num">
              <span>1</span>
              <p>
                공원은 다중이 이용하는 시설로서 자연경관의 보호와 공원 이용 시민의 편의 증진이 우선이기에 반드시 허가된 장소와 시간 범위 내에서 촬영이 이루어져야 하며,<br/>
                허가가 되었더라도 안전사고 및 민원발생시 촬영을 중단하고 즉시 철수해야하며, 경중에 따라 과태료가 부과될수있습니다.
              </p>
            </li>
            <li class="circle-num">
              <span>2</span>
              <p>
                인원: (모델 및 촬영관계자 등 총인원수) 평일 10인이하, 주말 및 공휴일 등 5인이하로 조정요망
              </p>
            </li>
            <li class="circle-num">
              <span>3</span>
              <p>
                차량 및 오토바이(소품용 등 시동을 걸지않은 것 포함) 공원 내 진입 및 촬영 금지, 가시설물 설치 금지
              </p>
            </li>
            <li class="circle-num">
              <span>4</span>
              <p>
                촬영 금지구역: 생태숲(꽃사슴방사장 입구 포함), 곤충식물원, 나비정원, 보행가교, 커뮤니티센터 출입문 앞 휴게공간(피크닉 벤치), 체험마당, 갤러리정원, 테니스장,<br/>
                다목적구장, 게이트볼장, 농구장 , 족구장, 배드민턴장, 스케이트 파크등 일체의 체육시설<br/>
                <span class="c-point">※ 촬영 당일 신청서와 달리 금지구역에서 촬영 적발시 즉시 촬영 제한 및 제재 조치(촬영 절대 금지)</span>
              </p>
            </li>
            <li class="circle-num">
              <span>5</span>
              <p>
                촬영 참여자의 휴식을 위한 간이텐트(케노피텐트), 그늘막 등설치 불가
              </p>
            </li>
            <li class="circle-num">
              <span>6</span>
              <p>
                촬영으로 인한 시설물 파손 및 수목,녹지 등 훼손시 신청자가 원상 복구
              </p>
            </li>
            <li class="circle-num">
              <span>7</span>
              <p>
                공원 내 촬영을 위한 차량 진입 불가<br/>
                <span class="c-point">※장비이동을 위한 단시간 반입도 금지</span>
              </p>
            </li>
            <li class="circle-num">
              <span>8</span>
              <p>
                공원 자체의 전기시설 사용 불가(별도 발전기 마련)
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-box">
        <!-- a. 컨텐츠 제목 -->
        <div class="content-tit-wrap">
          <h4>기타 안내</h4>
        </div>
        <div class="gray-box">
          <ul class="circle-num-list">
            <li class="circle-num">
              <span>1</span>
              <p>공원 관계(순찰 등) 근무자가 요청 시, 메일 회신 화면 또는 촬영비 결제(서울시공공서비스예약시스템)한 예약확인증 출력본 제시(핸드폰 화면 제시 가능)
                <br/>
                <span class="c-point">※ 시스템 내 ‘예약확인 및 취소’ 에서 ‘내용보기’ 클릭 → 확인증 출력</span>
              </p>
            </li>
            <li class="circle-num">
              <span>2</span>
              <p>
                녹화·촬영시 부주의로 발생한 제반사항은 신청자가 처리하여야 함
              </p>
            </li>
            <li class="circle-num">
              <span>3</span>
              <p>
                촬영이 허가 및 협의내용과 다르게 진행될 경우, 촬영으로 인한 공원 이용객 불편사항 접수시 즉시 허가 취소 및 철수 요청, 과태료 부과 가능 
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-box">
        <!-- a. 컨텐츠 제목 -->
        <div class="content-tit-wrap">
          <h4>환불규정 안내</h4>
        </div>
        <div class="content-desc-wrap">
          <p>
            「서울특별시 도시공원 조례」 일부 개정에 따라 이용료 환불규정이 변경되었으니 아래 내용을 확인 후 이용 신청 바랍니다.<br/>
            &lt;서울특별시 도시공원 조례&gt; 제19조(요금 등의 환불)<br class="mo-only"/>※ 부칙(시행일: 21. 6. 1.)
          </p>
        </div>
        <div class="gray-box">
          <ul class="circle-num-list">
            <li class="circle-num">
              <span>1</span>
              <p>사전 납부된 입장료・이용료는 환불할 수 있으며 이용자가 취소하는 경우에는 다음 각 호의 구분에 따라 납부된 이용료를 반환하여야 한다.
                <br/>
                <span class="c-gray">※ 시스템 내 ‘예약확인 및 취소’ 에서 ‘내용보기’ 클릭 → 확인증 출력</span>
              </p>
            </li>
            <li class="circle-num">
              <span>2</span>
              <p>천재지변 및 불가항력 등의 사유로 인하여 취소한 경우: 이용료 전액 반환
                <br/>
                <span class="c-gray">※ 이용자 직접 취소 시 100%환불 불가로, 관리자에게 연락하여 취소 요청</span>
              </p>
            </li>
            <li class="circle-num">
              <span>3</span>
              <p>
                사용일 7일 전까지 취소한 경우 또는 예약당일 취소: 이용료 전액 반환
              </p>
            </li>
            <li class="circle-num">
              <span>4</span>
              <p>
                사용일 6일~3일 전까지 취소한 경우: 이용료의 100분의 10을 공제한 나머지 금액 반환
              </p>
            </li>
            <li class="circle-num">
              <span>5</span>
              <p>
                사용일 2일~1일전까지 취소한 경우: 이용료의 100분의 30을 공제한 나머지 금액 반환
              </p>
            </li>
            <li class="circle-num">
              <span>6</span>
              <p>
                사용일부터 이후 취소한 경우: 환불 불가
              </p>
            </li>
          </ul>
          <ul class="list gap-lg">
            <li class="c-point">
              ※천재지변 및 불가항력 등의 사유로 전액 환불을 원하실 경우, 본인 취소시 시스템 설정상 100% 전액환불 불가하오니, 반드시 담당자에게 연락하여 취소하시기 바랍니다.<br/>
              (02-460-2974) 예약하신 촬영일이 지나도 사후 처리(취소) 가능하오니, 주말 및 공휴일 촬영 취소 시 영업일에 연락 부탁드립니다.
            </li>
            <li class="c-point">
              ※ 서울숲은 이용자 안전 등을 위해 4월, 5월 촬영신청을 받지 않습니다. (이용일자 기준)
            </li>
          </ul>
        </div>
      </div>
      <div class="c-box">
        <!-- a. 컨텐츠 제목 -->
        <div class="content-tit-wrap">
          <h4>주의사항</h4>
        </div>
        <div class="gray-box">
          <ul class="circle-num-list">
            <li class="circle-num">
              <span>1</span>
              <p>서울숲은 계절에 따라 환경 및 시설에 변화가 있으며 동절기에는 거울연못의 물이 없다는 것을 알려드립니다.
                <br/>
                <span class="c-point">※ 거울연못에서 촬영을 하고자 하는 분들은 이 점을 유의해 주시기 바랍니다.</span>
              </p>
            </li>
            <li class="circle-num">
              <span>2</span>
              <p>서울숲은 이용자 안전 등을 위해 4월, 5월 촬영신청을 받지 않습니다. (이용일자 기준)</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</main>


<!-- 푸터 -->
<footer>
  <div class="inner-wrap">
    <div class="footer-top">
      <div class="footer-info">
        <ul>
          <li><a href="#">홈페이지 바로잡기</a></li>
          <li><a href="#">조직 및 업무 검색</a></li>
          <li><a href="#">다산콜센터</a></li>
          <li class="point"><a href="#">공원주요연락처</a></li>
        </ul>
      </div>
      <div class="footer-lang-wrap">
        <img src="../../resources/images/footer/footer_logo1.png" alt="응답소"/>
        <a href="#" target="_blank" title="페이스북 새 창 열기"><img src="../../resources/images/icons/sns_facebook.svg" alt="페이스북"/></a>
        <div class="custom-select" data-options="1">
          <button type="button" class="select-toggle" aria-haspopup="listbox" aria-expanded="false">
            <span class="selected-text"></span>
          </button>
          <ul class="select-list" role="listbox" aria-hidden="true"></ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="f-bottom-wrap">
        <h4><img src="../../resources/images/footer/logo_footer.svg" alt="서울의 공원"/></h4>
        <ul>
          <li>(04514) 서울특별시 중구 서소문로 124 씨티스퀘어 8층 ㅣ 02)120</li>
          <li>COPYRIGHT©2026 SEOUL METROPOLITAN GOVERNMENT. ALL RIGHTS RESERVED</li>
        </ul>
      </div>
      <a href="#" target="_blank" title="다산콜센터 120 전화걸기" class="f-call">
        <span class="f-tit">다산콜센터</span>
        <span class="f-phone-num">120</span>
      </a>

    </div>
  </div>
</footer>
<script>
</script>
</body>
</html>
