/* Paperlogy */
@font-face{
  font-family:"Paperlogy";
  src:url("../fonts/Paperlogy-8ExtraBold.woff") format('woff');
  font-weight:800;
  font-style:normal;
}
@font-face{
  font-family:"Paperlogy";
  src:url("../fonts/Paperlogy-7Bold.woff") format('woff');
  font-weight:700;
  font-style:normal;
}
@font-face{
  font-family:"Paperlogy";
  src:url("../fonts/Paperlogy-6SemiBold.woff") format('woff');
  font-weight:600;
  font-style:normal;
}
@font-face{
  font-family:"Paperlogy";
  src:url("../fonts/Paperlogy-5Medium.woff") format('woff');
  font-weight:500;
  font-style:normal;
}
@font-face{
  font-family:"Paperlogy";
  src:url("../fonts/Paperlogy-4Regular.woff") format('woff');
  font-weight:400;
  font-style:normal;
}
/* GmarketSans */
@font-face{
  font-family:"GmarketSans";
  src:url("../fonts/GmarketSansTTFMedium.woff") format('woff');
  font-weight:500;
  font-style:normal;
}
@font-face{
  font-family:"GmarketSans";
  src:url("../fonts/GmarketSansTTFBold.woff") format('woff');
  font-weight:700;
  font-style:normal;
}
/* KIMM */
@font-face{
  font-family:"Kimm";
  src:url("../fonts/KIMM_bold.woff") format('woff');
  font-weight:700;
  font-style:normal;
}

